.spinner {
  /* Additional spinner styles */
  animation: spinner 440ms linear infinite;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-style: solid;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}
.extra-small {
  width: 1.03rem;
  height: 1.03rem;
}
.small {
  width: 1.27rem;
  height: 1.27rem;
}
.medium {
  width: 1.7rem;
  height: 1.7rem;
}

.light {
  border-top-color: #fff;
  border-left-color: #fff;
  border-width: 2px;
}
.dark {
  border-top-color: #1a1a1a;
  border-left-color: #1a1a1a;
  border-width: 1px;
}
.primary {
  border-top-color: #08c076;
  border-left-color: #08c076;
  border-width: 1.4px;
}

/* Animation styles */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
