@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .app-container {
    @apply mx-auto max-w-[1200px];
  }

  .spinner-primary {
    width: 41px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 4px solid #00000014;
    border-right-color: #08c076;
    animation: s1 0.6s infinite linear;
  }

  @keyframes s1 {
    to {
      transform: rotate(1turn);
    }
  }

  .loader-full {
    width: 41px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 3px solid #00000014;
    border-right-color: #08c076;
    animation: s2 0.6s infinite linear;
  }

  @keyframes s2 {
    to {
      transform: rotate(1turn);
    }
  }
}

.cart:not(:last-child) {
  border-bottom: 1px solid #e7e2de;
}

.cart-item:last-child {
  border-bottom: 0;
}

.product-item-complete:last-child {
  border-color: #e7e2de;
}

.cart::-webkit-scrollbar {
  width: 7px;
}

.cart::-webkit-scrollbar-track {
  /* scroll background */
  background: #f1f1f1;
}

.cart::-webkit-scrollbar-thumb {
  /* scroll line */
  background: #c6c6c6;
}

/* input type radio */
.form__radio-input {
  display: none;
}

.form__radio-label {
  /* font-size: $default-font-size; */
  cursor: pointer;
  position: relative;
  padding-left: 35px;
  display: flex;
}

.form__radio-button {
  height: 23px;
  width: 23px;
  border: 2px solid #08c076;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  /* top: -0.4rem; */
}

.form__radio-button::after {
  content: '';
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #08c076;
  opacity: 0;
  transition: opacity 0.2s;
}

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}

/* .carousel-root .thumbs-wrapper img {
  width: 50px;
  height: 50px;
  object-fit: contain;
} */

.carousel .carousel-status {
  color: #313133;
  font-size: 12px;
}

.slick-prev::before .slick-next::after {
  padding: 40px !important;
}
